# Ignore node dependencies
node_modules/

# Ignore environment files and secrets
.env
.env.*

# Logs
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Images and uploads
photos/**/*.jpg
photos/**/*.jpeg
photos/**/*.png
photos/**/*.gif
photos/**/*.webp

# Build outputs
package-lock.json
yarn.lock
.vscode/*
